.pokedex__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex__cards > li {
  width: calc(33.3% - 20px);
  max-width: 250px;
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  color: #fff;
  box-shadow: 3px 3px 7px #00000066;
  cursor: pointer;
}

.card__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00000040;
}

.card__name {
  margin-bottom: 10px;
}

.card__types > li {
  width: 80px;
  margin: 3px auto;
  list-style: none;
  border-radius: 10px;
}

.card__scale {
  transform: scale(1.02);
}

/* MOBILE */

@media screen and (max-width: 768px) {

  .pokedex__cards > li { 
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 425px) {
  
  .pokedex__cards > li { 
    width: 100%;
  }
}

/* BACKGROUNDS */

.grass { background: linear-gradient(to bottom, #7bb80f 0%, #549300 100%); }
.fire { background: linear-gradient(to bottom, #ffa044 0%, #ff6e10 100%); }
.water { background: linear-gradient(to bottom, #5699f0 0%, #2b78ca 100%); }
.bug { background: linear-gradient(to bottom, #4b6c24 0%, #2e4c12 100%); }
.normal { background: linear-gradient(to bottom, #eea992 0%, #cb7965 100%); }
.poison { background: linear-gradient(to bottom, #af8f3f 0%, #896d1c 100%); }
.electric { background: linear-gradient(to bottom, #ded129 0%, #b5ac0e 100%); }
.ground { background: linear-gradient(to bottom, #542702 0%, #3d1401 100%); }
.fairy { background: linear-gradient(to bottom, #fbc1fb 0%, #f48ef3 100%); }
.fighting { background: linear-gradient(to bottom, #93649c 0%, #704379 100%); }
.psychic { background: linear-gradient(to bottom, #ffdbcd 0%, #dbab9e 100%); }
.rock { background: linear-gradient(to bottom, #a5bdb4 0%, #768d85 100%); }
.ghost { background: linear-gradient(to bottom, #eaf1f7 0%, #c0d6e7 100%); }
.ice { background: linear-gradient(to bottom, #86f3fd 0%, #3ddcf8 100%); }
.dragon { background: linear-gradient(to bottom, #ec3108 0%, #c11904 100%); }
.dark { background: linear-gradient(to bottom, #404040 0%, #202020 100%); }
.steel { background: linear-gradient(to bottom, #6f95a5 0%, #426876 100%); }
.flying { background: linear-gradient(to bottom, #ffae66 0%, #cf8036 100%); }

.type-grass { background: #365f00; }
.type-fire { background: #ce590b; }
.type-water { background: #1667b7; } 
.type-bug { background: #203c09; }
.type-normal { background: #b9614e; }
.type-poison { background: #765c0a; }
.type-electric { background: #948d08; }
.type-ground { background: #310a01; }
.type-fairy { background: #f074ef; }
.type-fighting { background: #5e3267; }
.type-psychic { background: #c89286; }
.type-rock { background: #5e756d; }
.type-ghost { background: #abc8df; }
.type-ice { background: #18d0f6; }
.type-dragon { background: #ab0c02; }
.type-dark { background: #101010; }
.type-steel { background: #2b515f; }
.type-flying { background: #b7681e; }