.footer {
  height: 40px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background-color: #ff6347;
  cursor: default;
}

.footer__icon {
  transform: scale(1.25);
}