/* header */

.header {
  padding: 5px 0;
  background-color: tomato;
}

.header > .center {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50%;
}

.header__logo img {
  height: 50px;
  display: block;
}

.header__search {
  width: 50%;
  text-align: right;
}

.header__search input {
  width: 100%;
  max-width: 200px;
  height: 30px;
  padding-left: 5px;
  font-weight: 700;
  border: 3px solid #ccc;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* pokedex */

.pokedex__list {
  display: flex;
  flex-wrap: wrap;
}

.pokedex__list > li {
  width: calc(33.3% - 20px);
  padding: 10px;
  margin: 10px;
  list-style: none;
  text-align: center;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.list__sprite {
  width: 100%;
}

.list__types {
  display: flex;
}

.list__types > li {
  width: fit-content;
  margin-top: 20px;
  margin-right: 10px;
  padding: 3px 7px;
  list-style: none;
  border-radius: 10px;
  background-color: #ccc;
}

/* pagination */

.pokedex__pagination {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.pokedex__pagination p {
  margin: 0 10px;
}

.pokedex__pagination button {
  padding: 5px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

/* footer */

.footer {
  margin-top: 20px;
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
  color: white;
  background-color: tomato;
}

/* mobile */

@media screen and (max-width: 768px) {
  
  .pokedex__list > li {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 580px) {
  .pokedex__list > li {
    width: calc(100% - 20px);
  }
}